*{
    padding:0 ;
    margin: 0 ;

}
body{
    background-color: #131519;
    color: white;
    width: 100vw;
    height: 100vh;
font-family: "Inter";
display: flex;
justify-content: center;
align-items: center;
}

.review-card{
    background-color: #1F2630;
    width: 350px;
    display:flex;
    gap: 18px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    border-radius:8% ;
    padding: 34px 40px;
}

 
.star{
    display: flex;
    justify-content: flex-start;
    background-color: #28303A;
    border-radius:50% ;
    padding: 8px;
}

.text-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: flex-start;  
    
    
    .title{
        font-size: 30px;
        font-weight: 800;

    }

    .description{
        font-size: 14px;
        color: rgba(162, 160, 160, 0.43);
    }
}



.rating-num{
    display: flex;
    justify-content: space-around;
    width: 100%;
margin-top: 20px;

    .number{
        background-color: #28303A;
        padding: 18px;
        color: rgba(238, 231, 231, 0.43); 
        border-radius: 100%;
        font-weight: 600;
    }
}

.submit-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.btn{
    padding: 16px 20px ;
    width: 80%;
    background-color: #F97813;
    border-radius: 24px;
     
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 400;
    font-size: 16px;
     
}

.btn:hover{
box-shadow: 0px 4px 16px #F97813;
}

.number:hover{
    box-shadow:  0px 0px 8px #ffffff;
    text-shadow: 0 0 4px #F97813, 0 0 10px #F97813, 0 0 20px #F97813;
}

 