@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0 ;
}

body{
    background-color:#676278;
    max-height: 100vh;
    min-width: 400px;
    font-family: "Inter";
}

.login-title{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.login-card{
    background-color:#2b2738 ;
    margin-inline: 5% ;
    margin-block: 4%;
    display: flex;
    align-content: center;
    justify-content: space-around;  
    border-radius: 12px;
    padding-block: 50px;
}

.card-img{
    height: 100%;
    min-width: 40%;

    .img{
        height: 100%;
        width:100%;
    }
}

.card-login{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 40%;
    padding-inline: 25px;
    color: #fdfcfd;
}

input{
    border:#646176 ;
    background-color: #3b364b ;
    padding: 15px ;
    border-radius: 8px;
}
button{
   background-color: #6e54b5; 
   padding: 15px;
   border-radius: 8px;
   color: #fdfcfd;
 
}

.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-title{
    .heading{
        font-size: 45px;
    }
    .sub-heading{
        font-size: 15px;
    }
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .name-input{
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .name{
            width: 50%;

        }
    }
}
.email-pass{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.agree-terms{
    display: flex;
    gap: 10px;
    justify-content: first baseline;
    font-size: 13px;
}

.create-acc{
     display: flex;
     justify-content: center;
     width: 100%;

    button{
        width: 90%;
        border: #fdfcfd;

    }

}
/* .create-btn{
     
     
} */
 hr{
    width: 35%;
    height: 0;
 }

.seperate{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.google-btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    button{
        width: 30%;
        background-color: #2b2738;
        border: 1px solid #fdfcfd;
    }
}

@media screen and (max-width: 720px) {
    .card-img{
        img{
            display: none;
        }
    }
 

  .card-login {
    justify-content: center;
    margin: 2%;
    width: 400px;
    padding-inline: 0 !important;
  }
  .login-title{
    font-size: 30px;
  }
  .heading{
    font-size: 30px !important;
  }

  .seperate{
    hr{
        width: 30%;

    }
  }
   
}

@media screen and (max-width :480px){
    .card-img{
        display: none;
    }

}