@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #676278;
  height: 100dvh;
  width: 100%;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
}

.login-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
  transition: all 0.2s ease-in;

  margin: auto;
  border-radius: 12px;
  background-color: #2b2738;

  a {
    color: #9d82ec;
    text-decoration: none;
  }

  input {
    border: #646176;
    background-color: #3b364b;
    padding: 15px;
    border-radius: 8px;
  }

  .login-form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding-inline: 25px;
    color: #fdfcfd;
  }

  .login-banner {
    border-radius: 12px;
    flex: 1;
  }

  .login-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .two-column-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

    * {
      flex: 1;
    }
  }

  .button-outlined {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #7a747a;
    background-color: transparent;
    color: #fdfcfd;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      background-color: #6e54b5;
      padding: 15px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      outline: none;
      color: #fdfcfd;
    }

    .create-btn {
      margin-top: 10px;
    }

    .agree-terms {
      display: flex;
      gap: 10px;
      justify-content: first baseline;
      font-size: 13px;
    }
  }

  .register-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .divider {
      position: relative;
      height: 1px;
      width: 100%;
      background-color: #947f94;

      .centered-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2b2738;
        padding: 0 10px;
        font-size: 14px;
        color: #aba2ab;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .login-card {
    padding: 50px 30px;
    max-width: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .login-card {
    width: 90vw;
    padding: 50px 15px;

    .login-form-container {
      padding-inline: 8px;
    }

    .login-banner {
      display: none;
    }

    .heading {
      font-size: 20px;
    }
    .sub-heading {
      font-size: 14px;
    }

    button {
      font-size: 14px !important;
    }
  }
}
